a .icon {
    position: relative;
    -webkit-transition: all 0.5s ease-out 0.2s;
}

a .icon:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    transform: scale(1.5);
}

.welcomeDiv {
	display: block;
	color: Black;
	text-align: center;
	vertical-align: middle;
}